.deposit {
    padding: 18px 360px 84px;
    margin: auto;
    .head {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px 36px;
        background: #FFF;
        box-shadow:0px 0px 10px 0px rgba(36,35,51,0.1);
        color: #8F92A1;
        .composition{
            width: 50%;
        }
    }
}